.structure {
	position: relative;
	background: linear-gradient(90deg, $yellow-color 50%, $white-color 50%);
	padding: 100px 0;
	@media (max-width: 768px) {
		background: $yellow-color;
		padding: 60px 0;
	}
	@media (max-width: 620px) {
		padding: 50px 0;
	}

	&__title {
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
		@media (max-width: 620px) {
			margin-bottom: 20px;
		}
	}

	&__box {
		display: flex;
		gap: 240px;
		@media (max-width: 1260px) {
			gap: 100px;
		}
		@media (max-width: 768px) {
			display: block;
		}
	}

	&__board {
		flex: 1 1 40%;
		@media (max-width: 768px) {
			padding-bottom: 30px;
		}
	}

	&__board-title, &__powers-title {
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 110%;
		margin-bottom: 24px;
		@media (max-width: 768px) {
			margin-bottom: 7px;
		}
	}

	&__board-list {
	}

	&__board-item {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 5px;
		@media (max-width: 1080px) {
			font-size: 1rem;
			line-height: 110%;
			padding-left: 31px;
			padding-right: 14px;
		}
		p {
			@media (max-width: 768px) {
				margin-bottom: 5px;
			}
		}
		span {
			font-size: 0.9rem;
			line-height: 110%;
			color: #8E8E8E;
			@media (max-width: 1080px) {
				font-size: 0.8rem;
			}
		}
	}

	&__powers {
		flex: 1 1 40%;
		@media (max-width: 768px) {
			background: white;
			margin: 0 -30px -60px;
			padding: 30px 30px 60px;
		}
	}

	&__powers-title {
		margin-bottom: 46px;
	}

	&__powers-list {
		font-size: 1.5rem;
		line-height: 115%;
		@media (max-width: 1080px) {
			font-size: 1.2rem;
		}
		@media (max-width: 768px) {
			font-size: 0.8rem;
		}
	}

	&__powers-item {
		position: relative;
		padding-left: 50px;
		margin-bottom: 23px;
		@media (max-width: 1080px) {
			padding-left: 30px;
			margin-bottom: 18px;
		}
		@media (max-width: 768px) {
			padding-left: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 13px;
			left: 0;
			width: 15px;
			height: 15px;
			border-bottom: 5px solid $yellow-color;
			border-right: 5px solid $yellow-color;
			@media (max-width: 1080px) {
				top: 8px;
			}
			@media (max-width: 768px) {
				top: 5px;
				width: 11px;
				height: 11px;
				border-bottom: 4px solid $yellow-color;
				border-right: 4px solid $yellow-color;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
