.suitp {
	padding: 100px 0;
	@media (max-width: 768px) {
		padding: 60px 0;
	}
	@media (max-width: 620px) {
		padding: 50px 0;
	}

	h2 {
		display: none;
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 130px;
		@media (max-width: 1200px) {
			gap: 50px;
		}
		@media (max-width: 992px) {
			flex-flow: column;
			align-items: flex-start;
			gap: 30px;
		}
		@media (max-width: 620px) {
			gap: 20px;
		}
	}

	&__logo {
		flex: 1 1 40%;
		img {
			width: 100%;
			@media (max-width: 992px) {
				height: 320px;
			}
			@media (max-width: 768px) {
				height: 150px;
			}
		}
	}

	&__inner {
		flex: 1 1 40%;
		font-size: 1.2rem;
		line-height: 1.8rem;
		@media (max-width: 768px) {
			font-size: 0.8rem;
			line-height: 1rem;
		}
	}

	&__text {
		span {
			font-weight: 700;
		}
	}
}
