.about {
	padding: 100px 0;
	background: url('../images/ukraine.svg'), $second-color;
	background-repeat: no-repeat;
	background-position: 90% 50%;
	&__title {
	}

	&__text {
	}

	&__button {
	}

	&__boosteroid {
	}
}

